<div class="wow fadeInUp col-md-4 col-sm-6" data-wow-delay="1s"   {{attributes}}>
	<div class="pricing__item">
        <h3 class="pricing__title">
            {{content.field_title.0}}
        </h3>
        <div class="pricing__price  home_float_image animate floatingNext">
            {{content.field_price.0}}
        </div>
        <ul class="pricing__feature-list">
            {% for item in content.field_features %}
                <li class="pricing__feature">{{item['value']}}</li>
            {% endfor %}
        </ul>
        <a href="{{content.field_link.0['#url']}}" class="pricing__action">
            {{content.field_link.0['#title']}}
        </a>
    </div>
</div>