<table class="table table-dark">

	<thead>
		<tr>
			{% for i in header %}
				<th scope="col">
					{{ i }}
				</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		{% for tr in rows %}
			<tr>
				<th scope="row">{{ tr.id }}</th>
				<td>{{ tr.Title }}</td>
				<td>{{ tr.Participants }}</td>
				<td>{{ tr.Image }}</td>
				<td>{{ tr.Start_End_Date }}</td>
				<td>{{ tr.Category }}</td>
				<td>
					<a href="{{ path('events.form.create', {'id': tr.id}) }}">Edit</a>
				</td>
				<td>
					<a href="{{ path('events.form.delete', {'cid': tr.id}) }}">Delete</a>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
